@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import 'colors';
@import 'animations';

.navigation {
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .social-media.about{
    padding-left: 72.5%;
    padding-top: 18.5%;
  }
}

.navbar-right.about {
  margin-top: 46vh;

  a {
    color: $text;
    text-decoration: none;
    padding: 30px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      color: $hover;
    }
  }
}

.about-logo {
  height: 180px;
}

.about-block {
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, $Nevada 15%, $Ebb 90%, $Gray-Nurse 90%);
  transform: skewY(-2deg);
  transform-origin: 0;
  position: absolute;
  top: 0;
}

.text.about{
  position: relative;
  height: 100%;
  display: flex;
  margin: 3.5% 0 0 4.5%;
  flex-direction: column;
  justify-content: right;

  h1 {
    margin-bottom: 0em;
    color: $header;
    font-size: 50px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
}

.img-wrapper.about {
  position: absolute;
  top: 5%;
  right: 2.5%;
}

.profile-pic {
  position: absolute;
  top: 5%;
  right: 0;
  width: 28%;
  height: 45%;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
