@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
.social-media {
  padding-top: 1vh;
}

.social-media a {
  -webkit-text-decoration: None;
          text-decoration: None;
  color: #6D6E72;
}

.social-media a:hover {
  color: #A22065;
}

body {
  color: #F1EDEE;
}

body.home {
  overflow: hidden;
}

body.home .block {
  width: 100%;
  height: 100%;
  background: linear-gradient(-15deg, #A22065 15%, #F1EDEE 90%, #EEF1EF 90%);
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

body.home .block .page-content {
  height: 100%;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vh;
}

.home-content .home-title {
  font-size: 6.75vh;
  -webkit-margin-before: 0.33em;
          margin-block-start: 0.33em;
  -webkit-margin-after: 0.33em;
          margin-block-end: 0.33em;
  text-align: center;
}

.img-wrapper {
  width: 45vw;
  opacity: 1;
  background: #EEF1EF;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 4px 7px 1px #EEF1EF, inset -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
          box-shadow: inset 0 4px 7px 1px #EEF1EF, inset -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  -webkit-animation: up 1s;
          animation: up 1s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-wrapper img {
  max-width: 100%;
}

footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
}

footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 80px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .navigation .navbar-right {
  text-align: right;
  z-index: 1;
}

footer .navigation .navbar-right a {
  color: #F1EDEE;
  text-decoration: none;
  padding: 30px;
  font-weight: 500;
}

footer .navigation .navbar-right a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4vh;
    font-size: 2vh;
  }
  .social-media a {
    padding: 5px;
  }
  .home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    margin: 4vh;
  }
  .home-content .home-title {
    text-align: center;
    margin-left: 0;
    font-size: 6vh;
  }
  .img-wrapper {
    width: 90vw;
  }
  footer .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .navigation .navbar-right a {
    padding: 30px 5px;
  }
  body > .about-block {
    background: linear-gradient(25deg, #6D6E72 75%, #F1EDEE 95%, #EEF1EF 95%);
  }
  #resources .services {
    width: 90vw;
  }
  #resources .img-wrapper.about {
    width: 90vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4vh;
  }
  .social-media a {
    padding: 5px;
    font-size: 2vh;
  }
  .home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .home-content .home-title {
    text-align: center;
    margin-left: 0;
  }
  .img-wrapper {
    width: 90vw;
  }
  footer .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .navigation .navbar-right a {
    padding: 30px;
    font-size: 2.5vh;
  }
  #resources-block {
    height: auto;
    overflow: visible;
  }
  #resources .text.resources {
    width: 75vw;
    margin-bottom: 3vh;
  }
}

@media screen and (min-width: 1025px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4vh;
  }
  .social-media a {
    padding: 5px;
    font-size: 2vh;
  }
  .home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .home-content .home-title {
    text-align: center;
    margin-left: 0;
  }
  .img-wrapper {
    width: 90vw;
    max-width: 800px;
  }
  footer .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .navigation .navbar-right a {
    padding: 30px;
    font-size: 2.5vh;
  }
  #resources-block .page-content #resources {
    margin-top: 4vh;
    margin-bottom: -1vh;
  }
}

.about-block {
  width: 100%;
  height: auto;
  background: linear-gradient(15deg, #6D6E72 55%, #F1EDEE 90%, #EEF1EF 90%);
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  overflow: hidden;
}

.about-block .page-content {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

.about-block .page-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: #A22065;
  margin-top: 4vh;
}

.about-block .page-content .header p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0.33em;
          margin-block-end: 0.33em;
  text-align: center;
}

.about-block .page-content .about-content .text {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.about-block .page-content footer {
  position: initial;
  margin-top: 4vh;
  padding-bottom: 4vh;
}

.profile-pic {
  width: 30%;
  margin: 0 auto;
}

.profile-pic img {
  border-radius: 10%;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  max-width: 100%;
}

.full-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-name span {
  color: #A22065;
}

.client-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(15deg, #6D6E72 15%, #F1EDEE 90%, #EEF1EF 90%);
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.client-block .page-content {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  height: 90%;
  width: 100%;
}

.client-block .page-content footer {
  bottom: 0px;
}

.carousel-item > .card {
  height: 80vh;
  width: 80vw;
  max-width: 1200px;
  margin: 15px auto;
}

.carousel-item > .card .card-img-top {
  height: 75%;
  width: 100%;
}

.carousel-item > .card .card-img-top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}

.carousel-item > .card .card-body {
  height: 25%;
  padding: 0.75rem;
}

.carousel-item > .card .card-body .card-title {
  height: 25%;
  max-height: 25%;
  margin-bottom: 5px;
}

.carousel-item > .card .card-body .card-text {
  height: 75%;
  max-height: 75%;
  font-size: 0.75rem;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.carousel-item > .card .card-body .card-text::-webkit-scrollbar {
  display: none;
}

a.carousel-control-next, a.carousel-control-prev {
  width: 10%;
}

.carousel-fade > .carousel-inner .carousel-item.active {
  -webkit-transform: none;
          transform: none;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
}

#resources-block {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

#resources-block::-webkit-scrollbar {
  display: none;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 20px solid #A22065;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.services .list-title {
  width: 100%;
  color: #fff;
  background: #A22065;
  font-size: 15px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services ul {
  margin-top: 0;
  position: relative;
  background: #fff;
  width: 100%;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.services ul li {
  list-style: none;
  color: #A22065;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.services ul:hover li {
  opacity: 0.2;
}

.services ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
  background: #A22065;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  color: #fff;
  opacity: 1;
}

.services ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #A22065;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin: auto 10px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
}

.services ul li:hover span {
  background: #fff;
  color: #A22065;
}

.img-wrapper.about {
  margin: 0 auto;
  width: 80vw;
  max-width: 600px;
}

.img-wrapper.about img {
  width: 100%;
  max-width: 600px;
}

.page-content #resources {
  margin-top: 0;
  margin-bottom: 2vh;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Times New Roman", serif !important;
}
/*# sourceMappingURL=main.css.map */
