@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import 'colors';
@import 'animations';
@import 'about';
@import 'client';
@import 'mobile';
@import 'config';

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Times New Roman", serif !important;
}

.navigation {
  display: flex;
  width: 100%;
  max-height: 80px;

  .navbar-right {
    flex: 1 0 auto;
    text-align: right;
    z-index: 1;
    a {
      color: $text;
      text-decoration: none;
      padding: 30px;
      font-weight: 500;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.header {
  display: flex;
  justify-content: flex-start;
}

.social-media {
  padding-left: 2.5%;
  padding-top: 2.5%;
  z-index: 2;

  a {
    padding: 5px;
    text-decoration: none;
    i{
      color: $icons;

      &:hover {
        color: $hover;
      }
    }
  }
}

.block {
  width: 100%;
  height: 100%;
  background: linear-gradient(-15deg, $Disco 15%, $Ebb 90%, $Gray-Nurse 90%);
  transform: skewY(-2deg);
  transform-origin: 0;

  /*span:nth-child(1) {
    width: calc(100% / 3);
    left: calc(100% / -6);
    background: #53f;
  }

  span:nth-child(2) {
    width: calc(100% / 3);
    top: 0;
    left: calc(100% / 6);
    right: auto;
    background: #53f;
  }

  span:nth-child(3) {
    width: calc(100% / 3);
    top: 0;
    left: 49.9999%;
    bottom: auto;
    background: #53f;
  }

  span:nth-child(4) {
    width: calc(100% / 3);
    bottom: 0;
    right: auto;
    background: #53f;
  }*/
}
.page-content {
  transform: skewY(2deg);
  transform-origin: 0;
}


.home-content {
  margin-top: 9%;
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15%;

  .text {
    padding: 0px 20px;
  }
}

.text {

  h1 {
    color: $header;
    font-size: 50px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;

    span {
      color: $span;
    }
  }

  p {
    color: $text;
    font-size: 20px;
    max-width: 50%;
    line-height: 28px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }
}

.img-wrapper {
  width: 500px;
  opacity: 0;
  top: 40%;
  right: 57.5%;
  transform: translateY(15%) rotate(-2deg);
  background: $card;
  padding: 8px 8px;
  border-radius: 25px;
  box-shadow: inset 0 4px 7px 1px #EEF1EF, inset -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  animation: up 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;

  &.about {
    width: 600px;
  }

  img {
    max-width: 100%;
  }
}

footer {
  overflow: hidden;
}