@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import 'colors';

.about-block {
  width: 100%;
  height: auto;
  background: linear-gradient(15deg, #6D6E72 55%, #F1EDEE 90%, #EEF1EF 90%);
  transform: skewY(-2deg);
  transform-origin: 0;
  overflow: hidden;

  .page-content {
    transform: skewY(2deg);

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      color: $Disco;
      margin-top: 4vh;

      p {
        margin-block-start: 0;
        margin-block-end: 0.33em;
        text-align: center;
      }
    }

    .about-content {
      .text {
        text-align: center;
        width: 90%;
        margin: 0 auto;
      }
    }
  
    footer {
      position: initial;
      margin-top: 4vh;
      padding-bottom: 4vh;
    }
  }
}

.profile-pic {
  width: 30%;
  margin: 0 auto;

  img {
    border-radius: 10%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    max-width: 100%;
  }
}

.full-name {
  display: flex;
  justify-content: center;

  span {
    color: $span;
  }
}