@import 'config';


// Smart phones
@include mediaSm {
  .social-media {
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    font-size: 2vh;

    a {
      padding: 5px;
    }
  }

  .home-content {
    flex-direction: column;
    padding-top: 0;
    margin: 4vh;

    .home-title {
      text-align: center;
      margin-left: 0;
      font-size: 6vh;
    }
  }
  
  .img-wrapper {
    width: 90vw;
  }

  footer {
    .navigation {
      display: flex;
      justify-content: center;
      .navbar-right {
        a {
          padding: 30px 5px;
        }
      }
    }
  }

  //about page
  body>.about-block {
    background: linear-gradient(25deg, #6D6E72 75%, #F1EDEE 95%, #EEF1EF 95%);
  }

  //clients
  #resources .services {
    width: 90vw;
  }

  #resources .img-wrapper.about {
    width: 90vw;
  }
}

// tablets
@include mediaMd {

  .social-media {
    display: flex;
    justify-content: center;
    padding-top: 4vh;

    a {
      padding: 5px;
      font-size: 2vh;
    }
  }

  .home-content {
    flex-direction: column;
    padding-top: 0;

    .home-title {
      text-align: center;
      margin-left: 0;
    }
  }
  
  .img-wrapper {
    width: 90vw;
  }

  footer {
    .navigation {
      display: flex;
      justify-content: center;
      .navbar-right {
        a {
          padding: 30px;
          font-size: 2.5vh;
        }
      }
    }
  }
  //resources
  #resources-block {
    height: auto;
    overflow: visible;
  }

  #resources .text.resources {
    width: 75vw;
    margin-bottom: 3vh;
  }
}

@include mediaLg {

  .social-media {
    display: flex;
    justify-content: center;

    a {
      font-size: 2.5vh;
      padding: 5px;
    }
  }

  .home-content {
    flex-direction: column;
    padding-top: 0;

    .home-title {
      text-align: center;
      margin-left: 0;
    }
  }
  
  .img-wrapper {
    width: 70vw;
  }

  footer {
    bottom: 45px;
    .navigation {
      display: flex;
      justify-content: center;
      .navbar-right {
        a {
          padding: 30px;
          font-size: 2.5vh;
        }
      }
    }
  }

  // resources
  #resources-block .page-content #resources {
    margin-top: 4vh;
    margin-bottom: -1vh;
  }
}